@model IEnumerable<HealthCenter.Domain.UserType>

@{
    ViewBag.Title = "Patient type";
}

<h2>Patient type</h2>

<p>
    @Html.ActionLink("Create New patient type", "Create" , new { }, new { @class = "btn btn-primary"})
</p>
<table class="table table-striped table-hover table-responsive table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserTypeId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Details", "Details", new { id=item.UserTypeId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id=item.UserTypeId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
