@model IEnumerable<HealthCenter.Domain.Scheduler>

@{
    ViewBag.Title = "Schedulers";
}
<h2></h2>
<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-hover table-responsive table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateSchedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.stateName)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateSchedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.stateName)
        </td>
        
            @*@Html.ActionLink("Edit", "Edit", new { id=item.AgendaId }) |
        @Html.ActionLink("Details", "Details", new { id=item.AgendaId }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.AgendaId }, new { @class = "btn btn-danger" })*@
        
    </tr>
}

</table>
