@model IEnumerable<HealthCenter.Domain.Scheduler>

@{
    ViewBag.Title = "SearchDetail";
}
<br />
<h2>Details appointments scheduled</h2>

<hr />
<br />
<table class="table table-striped table-hover table-responsive table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateSchedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.stateName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateSchedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.stateName)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.AgendaId }) |*@
            <a class="btn btn-info" data-toggle="tooltip" title="Appointment Detail" href="/Schedulers/Details/@item.AgendaId"><span class="glyphicon glyphicon-search"></span></a>
            @*@Html.ActionLink("Details", "Details", new { id = item.AgendaId }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.AgendaId })*@
        </td>
    </tr>
}

</table>
