<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Health center</title>
    @Styles.Render("~/Content/css")    
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navigator navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span style="float:left; margin-right:20px; margin-top:5px; margin-bottom:5px;"><img src="~/fonts/icon.png" /></span>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                    
                </button>
                    @Html.ActionLink("Health Center", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color: whitesmoke;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                     @if (User.Identity.IsAuthenticated)
                      {
                        if (User.IsInRole("Admin"))
                        {
                        @Html.ActionLink("Patients", "Index", "Users")
                        }
                      }
                    </li>
                    <li>
                      @if (User.Identity.IsAuthenticated)
                      {
                          if (User.IsInRole("Admin"))
                          {
                            @Html.ActionLink("Patient types", "Index", "UserTypes")
                          }
                      }
                    </li>
                    
                       @if (User.Identity.IsAuthenticated)
                        {
                         if (User.IsInRole("Admin"))
                         {
                         <li>@Html.ActionLink("Register medic", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                         }
                       }

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Medic"))
                            {
                            <li>@Html.ActionLink("Schedule Agenda", "Index", "Schedulers", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            }
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Medic"))
                            {
                            <li>@Html.ActionLink("Appointments", "SearchDetail", "Schedulers", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            }
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                            <li>@Html.ActionLink("Schedule WorkDay", "Index", "WorkDays", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            }
                        }

                    @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                            <li>@Html.ActionLink("State", "Index", "States", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            }
                        }

                    @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                            <li>@Html.ActionLink("UserSchedules", "Index", "UserSchedules", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            }
                        }
                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <center><p><strong><font color="#79B8DF">@DateTime.Now.Year - Health Center Application</font> </strong></p></center>
        <footer style="text-align:center;background-image:url(../../Content/footer.jpg);background-size:cover; background-repeat:no-repeat"></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
