@model IEnumerable<HealthCenter.Domain.WorkDay>

@{
    ViewBag.Title = "Index";
}

<h2>Work Days</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new {@class="btn btn-success"})
</p>
<table class="table table-striped table-hover table-responsive table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.startDayHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDayHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateToday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.durationCite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.startDayHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDayHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateToday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.durationCite)
        </td>
        <td>            
            @Html.ActionLink("Details", "Details", new { id=item.idWorkDay }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.idWorkDay }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
